/* --------------------------------------------------------
 * Fonts
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Colours
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * CSS3
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Mini reset
 * -------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
fieldset, img {
  border: 0;
}
/* --------------------------------------------------------
 * General
 * -------------------------------------------------------- */
body {
  font-family: 'Lucida Grande', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
  font-size: 12px;
  background: #ccc;
  color: #333333;
  line-height: 1;
}
a.external_link {
  background: url(/themes/wireframe/images/icon-external.png) no-repeat 100% 1px;
  padding-right: 12px;
}
.more {
  margin-top: -12px;
}
/* --------------------------------------------------------
 * General listing
 * -------------------------------------------------------- */
.date {
  display: block;
  position: relative;
  font-size: 11px;
  color: #666;
  margin-top: 6px;
  margin-bottom: 12px;
}
ul.listing {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.listing img {
  float: left;
}
ul.listing li {
  padding: 0;
  margin-bottom: 18px;
  border-bottom: 1px solid #ccc;
  float: left;
}
ul.listing .listing_content.photo {
  float: left;
  width: 528px;
}
ul.listing h2 {
  margin-top: 0;
  margin-bottom: 0;
}
ul.listing h2 a {
  text-decoration: none;
}
/*** Testimonials ***/
/*** Articles ***/
ul.listing.articles img {
  margin-right: 18px;
}
ul.listing.articles li {
  padding-bottom: 18px;
}
.detail img {
  float: left;
  margin: 0 18px 18px 0;
}
/* --------------------------------------------------------
 * Modules
 * -------------------------------------------------------- */
/*** Tooltip ***/
.tooltip_container {
  display: none;
  position: absolute;
  width: 100px;
  padding: 3px;
  background: #ccc;
  border: 2px solid #666;
}
/*** Slideshow ***/
.slideshow div {
  display: none;
}
.slideshow div.first {
  display: block;
}
.slideshow_wrap {
  position: relative;
  margin-bottom: 20px;
}
.slideshow {
  background: #ccc;
  z-index: 0;
  width: 924px;
  height: 263px;
}
.slideshow div {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 900px;
}
.slideshow div img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.slideshow div p {
  position: relative;
  margin: 50px 0 0 10px;
  z-index: 2;
  width: 350px;
}
.slideshow div h3 {
  position: relative;
  margin: 50px 0 0 10px;
  z-index: 2;
  width: 350px;
}
.banner_nav {
  position: absolute;
  bottom: 7px;
  left: 10px;
  z-index: 1;
}
/*** Box ***/
.box {
  width: 175px;
  background: #f2f2f2;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.box.large {
  width: 300px;
}
.box.promo {
  width: 280px;
  float: left;
  margin-right: 40px;
  height: 120px;
}
.box.promo.last {
  margin-right: 0;
}
/*** Accordion ***/
ul.accordion {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
ul.accordion h4 {
  background: #ccc;
  padding: 10px;
  margin-bottom: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
ul.accordion li {
  padding: 0;
  margin: 0;
}
ul.accordion .clickable {
  display: block;
  cursor: pointer;
}
ul.accordion .body {
  display: none;
}
ul.accordion p {
  padding: 0;
  margin: 0;
}
/*** Buttons ***/
.button {
  cursor: pointer;
  height: 27px;
  line-height: 27px;
  color: #2361a1;
  margin-bottom: 10px;
  display: inline-block;
  background: #ccc;
  /*	.border_radius(5px);
	.box_shadow(1px, 1px, 2px, 0.15);*/

  padding: 0 15px;
  border: 1px solid #999;
  zoom: 1;
  *display: inline;
}
.button:hover {
  color: #000;
  text-decoration: none !important;
  background: #c2c2c2;
}
.button input {
  xheight: 27px;
  xline-height: 27px;
  color: #2361a1;
  background: none;
  border: none;
}
.button input:hover {
  color: #000;
}
.ie6 input {
  height: 27px;
  line-height: 27px;
}
a.button {
  text-decoration: none;
}
/*** Slide Caption ***/
.tile {
  width: 400px;
}
.tile .caption {
  position: relative;
}
.tile .caption .head {
  background: #666;
  padding: 10px 10px 5px 10px;
}
.tile .caption .body {
  background: #999;
  display: none;
  padding: 0 10px 0 10px;
}
/*** Image Gallery ***/
ul.listing.gallery_albums {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.listing.gallery_albums li {
  height: 144px;
  width: 444px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* IE6 & 7 */

  *display: inline;
  /* IE6 & 7 */

  margin-bottom: 20px;
  margin-right: 36px;
}
ul.listing.gallery_albums li.last {
  margin-right: 0;
}
ul.listing.gallery_albums .image_wrap {
  float: left;
  margin-right: 18px;
}
ul.listing.gallery_albums .details {
  float: left;
  width: 288px;
}
ul.listing.gallery_albums h2 a {
  text-decoration: none;
}
ul.listing.gallery_albums h2 {
  margin-bottom: 12px;
}
/* --------------------------------------------------------
 * Sticky footer
 * -------------------------------------------------------- */
html, body {
  height: 100%;
}
#container {
  position: relative;
  min-height: 100%;
}
* html #container {
  height: 100%;
}
.layout {
  padding-bottom: 150px;
  /* height of footer */

}
#footer {
  background: #666;
  height: 150px;
  /* height of footer */

  margin-top: -150px;
  position: relative;
}
/* --------------------------------------------------------
 * Footer
 * -------------------------------------------------------- */
#footer {
  color: #ccc;
}
#footer ul.footer_list {
  list-style: none;
}
#inner_footer {
  background: #333;
  height: 110px;
  margin: 0 auto;
  padding: 20px;
  width: 920px;
}
#inner_footer p {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 18px;
}
/* --------------------------------------------------------
 * Header
 * -------------------------------------------------------- */
#header {
  background: #7b7b7b;
  height: 125px;
  position: relative;
}
#header h1 {
  color: #000;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 6px 0;
}
#header h1 a {
  color: #000;
  text-decoration: none;
}
#header .tagline {
  color: #ccc;
  font-size: 14px;
  font-style: italic;
}
#header .branding {
  left: 25px;
  position: absolute;
  top: 25px;
}
#header .logo {
  background: url(/themes/wireframe/images/temp-logo.png) no-repeat 0 0;
  display: block;
  height: 59px;
  width: 125px;
  position: absolute;
  top: 25px;
  left: 30px;
}
/* --------------------------------------------------------
 * Navigation
 * -------------------------------------------------------- */
.top_nav {
  list-style: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.top_nav li {
  float: left;
  margin-right: 10px;
  font-size: 11px	;
}
.top_nav a {
  color: #ccc;
}
.top_nav a:hover {
  text-decoration: none;
}
.footer_nav {
  list-style: none;
}
.footer_nav li {
  float: left;
  margin-right: 10px;
  font-size: 11px	;
}
.footer_nav a {
  color: #ccc;
}
.footer_nav a:hover {
  text-decoration: none;
}
#nav {
  background: #999;
}
#nav ul {
  float: right;
  margin: 0;
  margin-right: 10px;
}
#nav li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  margin-right: 2px;
}
#nav a {
  background: #c2c2c2;
  color: #333;
  display: block;
  float: left;
  padding: 10px;
  text-decoration: none;
}
#nav a:hover,
#nav a.current,
#nav a.section,
#nav a.current:hover,
#nav a.section:hover {
  background: #fff;
  color: #2361A1;
}
.sub_nav {
  background: #f2f2f2;
  padding-left: 21px;
  position: relative;
}
.sub_nav ul {
  list-style: none;
}
.sub_nav li {
  float: left;
}
.sub_nav a {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #2361A1;
  float: left;
  margin-right: 15px;
  font-style: normal;
}
/* --------------------------------------------------------
 * Breadcrumbs
 * -------------------------------------------------------- */
#breadcrumbs {
  color: #B7C0C5;
  font-size: 0.9em;
  margin: 0px 5px 10px 0;
  text-align: left;
}
#breadcrumbs p {
  margin: 0;
}
/* --------------------------------------------------------
 * Layout
 * -------------------------------------------------------- */
#container {
  background: #fff;
  margin: 0 auto;
  width: 960px;
}
.layout {
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
}
/* --------------------------------------------------------
 * Grid System:
 * Don`t define padding on grids. Each grid to have an inner div where padding can be applied.
 * -------------------------------------------------------- */
.grid_full {
  float: left;
  width: 924px;
}
.grid_1 {
  float: left;
  margin-right: 36px;
  width: 684px;
}
.grid_1.last {
  margin-right: 0;
}
.decorate {
  color: #fff;
  margin-bottom: 20px;
  background: pink;
}
.grid_2 {
  float: left;
  width: 444px;
  margin-right: 36px;
}
.grid_2.last {
  margin-right: 0;
}
.grid_3 {
  float: left;
  width: 284px;
  margin-right: 36px;
}
.grid_3.last {
  margin-right: 0;
}
.grid_4 {
  float: left;
  width: 204px;
  margin: 18px 36px 0 0;
}
.grid_4.last {
  margin-right: 0;
}
/*** Padding ***/
.padding_1 {
  padding: 10px;
}
/* --------------------------------------------------------
 * Buttons
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Gallery
 * -------------------------------------------------------- */
ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 1px;
}
ul.gallery li {
  padding: 0;
  margin: 0 18px 18px 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* IE6 & 7 */

  *display: inline;
  /* IE6 & 7 */

}
ul.gallery li.last {
  margin-right: 0;
}
/* --------------------------------------------------------
 * Widgets
 * -------------------------------------------------------- */
.widget {
  margin-bottom: 20px;
}
.widget_holder {
  margin-bottom: 20px;
}
/* --------------------------------------------------------
 * Blog module
 * -------------------------------------------------------- */
p.blog_date {
  position: relative;
  margin-bottom: 0;
  font-style: italic;
  color: #999;
  font-size: 11px;
}
/* BlogEntry.ss */
.blog_entry {
  width: 480px;
}
.blog_entry img {
  margin-bottom: 25px;
}
/* BlogSummaey.ss */
.blog_summary {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
  margin-bottom: 17px;
}
.blog_summary img {
  border: 1px solid #ccc;
  float: left;
  padding: 4px;
  margin: 0 15px 15px 0;
}
.blog_cloud a {
  font-size: 13px;
}
/* --------------------------------------------------------
 * Snippets
 * -------------------------------------------------------- */
.comment_name {
  position: relative;
  margin: -8px 0 8px 0;
  font-style: italic;
  color: #999;
}
/* --------------------------------------------------------
 * Testimonials
 * -------------------------------------------------------- */
.testimonial_name {
  font-weight: bold;
  position: relative;
  margin: -6px 0 6px 0;
}
.testimonial_position {
  font-style: italic;
  position: relative;
  margin: -18px 0 6px 0;
}
/* --------------------------------------------------------
 * Faqs
 * -------------------------------------------------------- */
.faqs {
  position: relative;
}
.faqs h3 {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 18px;
}
.faqs div {
  display: none;
}
/* --------------------------------------------------------
 * Contact Page
 * -------------------------------------------------------- */
#map {
  width: 440px;
  height: 330px;
  margin-bottom: 25px;
}
/* --------------------------------------------------------
 * Sitemap Page
 * -------------------------------------------------------- */
ul.sitemap li {
  list-style: none;
  margin: 0 0 10px 15px;
}
ul.sitemap ul {
  margin: 10px 0 15px 0;
}
/* --------------------------------------------------------
 * Media queries
 * -------------------------------------------------------- */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
