/* =Font-face
----------------------------------------- */
@font-face {
	font-family: 'My Font';
	src: url(../resources/my-font.eot);
	src: local('☺'), url(../resources/my-font.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Generic styles
-------------------------------------------- */
.typography * {
	font-family: Verdana, Lucida, Arial, sans-serif;
}

/* =Paragraphs
-------------------------------------------- */
.typography p {
 	color: #333;
 	line-height: 18px;
	margin: 0 0 18px 0;
}

/* Quotes
-------------------------------------------- */
.typography blockquote {
	margin: 10px;
	font-size: 1.4em;
	color: #777;
	font-style: italic;
}

.typography q {
	display: block;
	font-size: 0.8em;
	margin: 1em 1em;
	padding: 0.5em;
	border: 1px #ccc solid;
}

/* Links
-------------------------------------------- */
.typography a {
 	text-decoration: none;
	color: #2361A1;
}

.typography a:hover {
	text-decoration: underline;
}

/* Link icons - shows type of file
------------------------------------ */
.typography a[href$=".pdf"],
.typography a[href$=".PDF"],
.typography a.pdf
{
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_acrobat.png) no-repeat left center;
}

.typography a[href$=".doc"],
.typography a[href$=".DOC"],
.typography a.doc
{
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_word.png) no-repeat left center;
}

.typography a[href$=".xls"],
.typography a[href$=".XLS"],
.typography a.xls 
{
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_excel.png) no-repeat left center;
}

.typography a[href$=".gz"],
.typography a[href$=".GZ"],
.typography a[href$=".gzip"],
.typography a[href$=".GZIP"],
.typography a[href$=".zip"],
.typography a[href$=".ZIP"],
.typography a.archive
{
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_zip.png) no-repeat left center;
}

.typography a[href$=".exe"],
.typography a[href$=".EXE"],
.typography a.application
{
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/application.png) no-repeat left center;
}

/* Lists
-------------------------------------------- */
.typography ul,
.typography ol
{
	margin: 0 0 18px 24px;
	color: #666;
}

.typography li
{
	margin: 5px 10px;
	font-size: 11px;
}

.typography li li
{
	font-size: 10px;
}

/* Headings
-------------------------------------------- */
.typography h1,
.typography h2
{ 
	color: #333;
	margin: 0 0 5px 0;
	font-weight: normal;
}

.typography h1 {
	font-size: 2em;
}

.typography h2 {
	font-size: 1.667em;
}

.typography h3 {
	color: #333;
	margin: 0 0 5px 0;
	font-weight: normal;
	font-size: 1.5em;
}

.typography h4 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
	margin: 0 0 5px 0;
}

.typography h5 {
	font-size: 14px;
	color: #333;
	font-weight: normal;
	margin: 0 0 5px 0;
}

.typography h6 {
	font-size: 13px;
	color: #333;
	margin: 0 0 5px 0;
	font-weight: normal;
}

/* Pre
-------------------------------------------- */	
.typography pre {
	font-family: "Courier New", Courier;
	display: block;
	font-size: 1.2em;
	margin: 2em 5em;
	padding: 0.5em;
	border: 1px #ccc solid;
	background:#eee;
}

/* Table
-------------------------------------------- */
.typography table {
	margin: 0 0 18px 0;
	color: #666;
	border-collapse: collapse;
}

.typography tr {}

.typography td {
	border: 1px solid #999;
	padding: 5px;
}

/* Wysiwyg editor alignment classes
-------------------------------------------- */
.typography .left {
	text-align: left;
}

.typography .center {
	text-align: center;
}

.typography .right {
	text-align: right;
}

/* Images
-------------------------------------------- */
.typography img {
	border: none;
}

.typography img.right {
	float: right;
	margin-left: 20px;
}

.typography img.left {
	float: left;
}

.typography img.leftAlone {
	float: left;
	margin-right: 100%;
}

.typography img.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}