/* --------------------------------------------------------
 * Fonts
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Colours
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * CSS3
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * CSS3 helpers: - Heyday
 * -------------------------------------------------------- */
/* =Font-face
----------------------------------------- */
@font-face {
  font-family: 'My Font';
  src: url(../resources/my-font.eot);
  src: local('☺'), url(../resources/my-font.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", "Helvetica", "Arial", "sans-serif";
}
/* Links
-------------------------------------------- */
.typography a {
  text-decoration: none;
  color: #2361a1;
}
.typography a:hover {
  text-decoration: underline;
}
/* Lists
-------------------------------------------- */
.typography ul {
  margin: 0 0 18px 24px;
}
.typography ol {
  margin: 0 0 18px 24px;
}
/* =Paragraphs
-------------------------------------------- */
.typography p {
  line-height: 18px;
  color: #333;
  margin: 0 0 10px 0;
}
/* Headings
-------------------------------------------- */
.typography p + h2,
.typography p + h3,
.typography p + h4,
.typography p + h5,
.typography p + h6 {
  margin-top: 30px;
}
.typography h1 {
  font-weight: normal;
  font-size: 2em;
  color: #333;
  margin: 0 0 20px 0;
}
.typography h2 {
  color: #333;
  font-weight: normal;
  font-size: 1.667em;
  margin: 0 0 10px 0;
}
.typography h3 {
  font-weight: normal;
  color: #333;
  margin: 0 0 10px 0;
  font-size: 1.5em;
}
.typography h4, h4 {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin: 0 0 10px 0;
}
.typography h5 {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin: 0 0 10px 0;
}
.typography h6 {
  font-weight: normal;
  font-size: 13px;
  color: #333;
  margin: 0 0 10px 0;
}
/* Quotes
-------------------------------------------- */
.typography blockquote {
  margin: 10px;
  font-size: 1.4em;
  color: #777;
  font-style: italic;
}
.typography q {
  display: block;
  font-size: 0.8em;
  margin: 1em 1em;
  padding: 0.5em;
  border: 1px #ccc solid;
}
/* Pre
-------------------------------------------- */.typography pre {
  font-family: "Courier New", Courier;
  display: block;
  font-size: 1.2em;
  margin: 2em 5em;
  padding: 0.5em;
  border: 1px #ccc solid;
  background: #eee;
}
/* Table
-------------------------------------------- */
.typography table {
  margin: 0 0 18px 0;
  color: #666;
  border-collapse: collapse;
}
.typography td {
  border: 1px solid #999;
  padding: 5px;
}
/* Wysiwyg editor alignment classes
-------------------------------------------- */
.typography .left {
  text-align: left;
}
.typography .center {
  text-align: center;
}
.typography .right {
  text-align: right;
}
/* Images
-------------------------------------------- */
.typography img {
  border: none;
}
.typography img.right {
  float: right;
  margin-left: 20px;
}
.typography img.left {
  float: left;
}
.typography img.leftAlone {
  float: left;
  margin-right: 100%;
}
.typography img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
