@import "variables.less";

/* --------------------------------------------------------
 * Mini reset
 * -------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
fieldset, img { border: 0; }

/* --------------------------------------------------------
 * General
 * -------------------------------------------------------- */
html {
  overflow-y: scroll;
}

body {
	background: #ccc;
	color: #333;
	line-height: 1;
	font-size: 75%; /* 12/16 = 0.75 - http://pxtoem.com/ */
}

.accessibility {
	display: none;
}

/* --------------------------------------------------------
 * General listing
 * -------------------------------------------------------- */
li {
	margin-bottom: 5px;
}

ul.listing {
	list-style: none;
	padding: 0;
	margin: 0;
	h3 {
		margin-bottom: 8px;
	}
	li {
		padding: 0;
		margin: 0 0 25px 0;
	}
	.header {
		margin-bottom: 15px;
	}
	.body {
		margin-bottom: -5px;
	}
	.date {
		font-size: .917em;
		color: #666;
	}
}

/*** Pagination ***/
.pagination {
	border-top: 1px solid #ccc;	
	padding:  10px 0 10px 0;
}

/* --------------------------------------------------------
 * Modules
 * -------------------------------------------------------- */

/*** Slideshow ***/
.slideshow_wrap {
	position: relative;
	margin-bottom: 25px;
}

.slideshow {
	z-index: 0;
	width: 900px;
	height: 263px;
}

.banner_nav {
	position: absolute;
	bottom: 7px;
	left:  353px;
	z-index: 1;
}

/*** Box ***/
.box {
	width: 175px;
	background: #f2f2f2;
	margin-bottom: 20px;
	.border_radius(5px);
	.box_shadow(0, 0, 5px, 0.4);
	&.large {
		width: 300px;
	}
	&.promo {
		width: 280px;
		float: left;
		margin-right: 40px;
		height: 120px;
		&.last {
			margin-right: 0;
		}
	}
}

/*** Accordion ***/
ul.accordion {
	width: 450px;
	list-style: none;
	padding: 0;
	margin: 0;
	h4 {
		background: #ccc;
		padding: 10px;
		margin-bottom: 2px;
		.border_radius(3px);
	}
	li {
		padding: 0;
		margin: 0;
	}
	.clickable {
		display: block;
		cursor: pointer;
	}
	.body {
		display: none;
		height: 125px;
	}
}

/*** Buttons ***/
.button {
	cursor: pointer;
	height: 27px;
	line-height: 27px;
	color: #2361a1;
	margin-bottom: 10px;
	display: inline-block;
	background: #ccc;
	.border_radius(5px);
	.box_shadow(1px, 1px, 2px, 0.15);
	padding: 0 15px;
	border: 1px solid #999;
	&:hover {
		color: #000;
		text-decoration: none !important;
		background: #c2c2c2;
	}
	input {
		color: #2361a1;
		background: none;
		border: none;
		&:hover {
			color: #000;
		}
	}
}

/* --------------------------------------------------------
 * Sticky footer
 * -------------------------------------------------------- */
html, body {
	height: 100%;
}

#container {
	position: relative;
	min-height: 100%;
}

* html #container {
	height: 100%;
}

.layout {
	padding-bottom: 150px; /* height of footer */
}

#footer {
	background: #666;
	height: 150px; /* height of footer */
	margin-top: -150px;
	position: relative;
}

/* --------------------------------------------------------
 * Footer
 * -------------------------------------------------------- */
#footer {
	color: #ccc;
	ul.footer_list {
		list-style: none;
	}
}

#inner_footer {
	background: #333;
	height: 110px;
	margin: 0 auto;
	padding: 20px;
	width: 920px;
}

/* --------------------------------------------------------
 * Header
 * -------------------------------------------------------- */
#header {
	background: #7b7b7b;
	height: 125px;
	position: relative;
	h1 {
		color: #000;
		font-size: 2.25em;
		font-weight: bold;
		margin: 0 0 5px 0;
		a {
			color: #000;
			text-decoration: none;
		}
	}
	.tagline {
		color: #ccc;
		font-size: 1.167em;
		font-style: italic;
	}
	.branding {
		left: 25px;
		position: absolute;
		top: 25px;
	}
	.logo {
		background: url(../images/temp-logo.png) no-repeat 0 0;
		display: block;
		height: 59px;
		width: 125px;
		position: absolute;
		top: 25px;
		left: 30px;
	}
}

/* --------------------------------------------------------
 * Navigation
 * -------------------------------------------------------- */
#nav {
	background: #7b7b7b;
	bottom: 0;
	position: absolute;
	right: 0;
	ul {
		float: right;
		margin: 0;
		margin-right: 10px;
	}
	li {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		margin-right: 2px;
	}
	a {
		background: #c2c2c2;
		color: #333;
		display: block;
		float: left;
		padding: 10px;
		text-decoration: none;
		&:hover,
		&.current,
		&.section,
		&.current:hover,
		&.section:hover {
			background: #fff;
			color: #2361A1;
		}
	}
}
 
/*** Subnav ***/
ul.subnav {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 0;
		margin: 0 0 5px 0;
		&.current a {
			color: #000;
		}
	}
}

/* --------------------------------------------------------
 * Breadcrumbs
 * -------------------------------------------------------- */
#breadcrumbs {
	color: #B7C0C5;
	font-size: 0.9em;
	margin: 0px 5px 10px 0;
	text-align: left;
	p {
		margin: 0;
	}
}

/* --------------------------------------------------------
 * Layout
 * -------------------------------------------------------- */
#container {
	background: #fff;
	margin: 0 auto;
	width: 960px;
}

.layout {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.section {
	margin-bottom: 35px;
}
/* --------------------------------------------------------
 * Grid System:
 * Don`t define padding on grids. Each grid to have an inner div where padding can be applied.
 * -------------------------------------------------------- */
.last {
	
}

.grid_full {
	background: #f2f2f2;
}

.grid_1 {
	background: #f2f2f2;
	float: left;
	margin-right: 20px;
	width: 700px;
}

.grid_2 {
	background: #f2f2f2;
	float: left;
	width: 200px;
}

.grid_3 {
	background: #f2f2f2;
	float: left;
	width: 280px;
	margin-right: 40px;
	&.last {
		margin-right: 0;
	}
}

/*** Padding ***/
.padding_1 {
  padding: 10px;
}

/* --------------------------------------------------------
 * Buttons
 * -------------------------------------------------------- */


/* --------------------------------------------------------
 * Gallery
 * -------------------------------------------------------- */
ul.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0 20px 20px 0;
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* IE6 & 7 */
		*display: inline; /* IE6 & 7 */
		&.last {
			margin-right: 0;
		}
	}
}

/* --------------------------------------------------------
 * About page
 * -------------------------------------------------------- */


/* --------------------------------------------------------
 * Media queries
 * -------------------------------------------------------- */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* --------------------------------------------------------
 * Print
 * -------------------------------------------------------- */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	/* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	/* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img {
		page-break-inside: avoid;
	}
	@page  {
	  margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
	 	widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}