/* --------------------------------------------------------
 * Fonts
 * -------------------------------------------------------- */
@lucida_grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", "Helvetica", "Arial", "sans-serif";
@georgia: "Georgia", "Times New Roman", "Times", "serif";

/* --------------------------------------------------------
 * Colours
 * -------------------------------------------------------- */
@link_color: #2361a1;
@link_color_hover: #000;
@body_color: #333;
@selection_color: #2361A1;